body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    padding: 0;
    margin: 0;
    color: rgba(255, 255, 255, 1);
    background-color: #000;
    color: #fff;

}
::-webkit-scrollbar {
  display: none;
}

a, a:hover, a:active {
    text-decoration: none;
    transition: all 0.5s ease;
    font-size: 16px;
     color: #fff;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

h1 {
    font-weight: bold;
    font-size: 50px;
    line-height: 140%;
}

h2 {
    font-weight: bold;
    font-size: 48px;
    line-height: 140%;
}

h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
}

p {
    color : rgb(178 178 178);
    font-size: 16px;
}

.container {
    width: 1296px;
    margin: 0 auto;
}

/*header*/

.header {
    background: url(../img/iskry_svet_temnota_153770_1920x1080.jpg) no-repeat;
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    padding: 40px 80px; 
}

.header_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_items {
    margin-left: auto;
    margin-right: 271px;
}

.nav_items a {
    margin-left: 52px;
}

.header_buttun  button {
    width: 183px;
    height: 44px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    border-radius: 50px;
    color: #fff;
    border: none;
}

.header h1 {
    width: 920px;
    margin-top: 187px;
}

.pupils {
    width: 100%;
    height: 100px;
    background: #121212;
    box-sizing: border-box;
    position: absolute;
    top: 100vh;
    left: 0;
    margin-top: -78px;
}

.pupils_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.pupils button {
    width: 230px;
    height: 44px;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    border-radius: 50px;
    border: none;
    color: #fff;
    margin-left: 20%;
}


/*header*/


.background_squares {
    background-image: url(../img/bgc.jpg);
}


/*what_do_we_do*/

.what_do_we_do {
    padding-top: 253px;
    padding-bottom: 90px;
}

.what_do_we_do > .container {
    display: flex;
    justify-content: space-between;
}

.rectangle {
    width: 464px;
    height: 437px;
    border: 31px solid;
    border-image-source: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    border-image-slice: 1;
    position: relative;
}

.rectangle img {
    position: absolute;
    top: 64px;
    left: 9px;
}

.what_do_we_do___content {
    width: 636px;
    padding: 40px 0 0 15px;
}

.what_do_we_do___content h2{
   text-align: start;
    margin: 27px 0;
}

.what_do_we_do___content p{
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    text-align: start;
    margin: 45px 0 0 5px;
}

/*what_do_we_do*/

/*video*/

.video {
    padding-top: 170px;
}

.video p {
    font-size: 23px;
    line-height: 139%;
    color: #FFFFFF;
    text-align: start;
    margin: 45px 0 0 5px;
    padding-bottom: 27px;
}

video {
    width: 100%;
}

/*video*/

/*profession*/

.profession {
    padding-top: 110px;
}

.profession h2 {
    text-align: center;
}

.profession_items {
    display: flex;
    margin-top: 114px;
    flex-wrap: wrap;
    justify-content: center;
}

.profession_item { 
    width: 416px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}


.profession_item h2 {
    margin: 55px 0 24px 0;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    border-radius: 50%;
    height: 90px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profession_item p {
    font-size: 22px;
    line-height: 28px;
    padding: 0 25px;
}



/*profession*/

/*additionally*/

.additionally{  
padding-top: 170px;
}

.additionally_text p {
    font-size: 22px;
    line-height: 28px;
    padding: 0 25px;
}
/*additionally*/
/*tarivs*/

.tarivs {
    padding: 170px 0;
}

.tarivs  .bord {
    width: 100%;
    height: 100%;
    border: 31px solid;
    border-image-source: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    border-image-slice: 1;
    position: relative;
}

.tarivs_items {
    display: flex;
}

.tarivs h2{
    text-align: center;
}

.tarivs p {
    font-size: 22px;
    line-height: 28px;
    padding: 0 25px;
    width: 400px;
}

.tarivs .bronze, .tarivs .silver, .tarivs .gold{
    min-width: 30px;
    height: 30px;
    background: rgb(154 118 40);
    border-radius: 50%;
}

.tarivs .silver{
    background: rgb(202 196 196);
}

.tarivs .gold{
    background: rgb(255 223 0);
}

/*tarivs*/

/*footer*/
.footer {
    height: 5vh;
    background-color: black;
}
/*footer*/


/*media queries*/


@media screen and (max-width: 1450px) {

    .container {
        width: 1000px;
    }
    .nav_items a {
        margin-left: 20px;
    }
}

@media screen and (max-width: 1199px) {

    .container {
        width: 900px;
    } 

    .nav_items {
        margin-right: 52px;
    }

    .tarivs .bord {
        box-sizing: border-box;
    }

    .tarivs p, .additionally_text p, .profession_item p {
        font-size: 17px;
    }

    .rectangle img {
        display: none;
    }
    .header h1 {
        width: 100%;
    }
}

@media screen and (max-width: 991px) {
    
    .profession_item p, .additionally_text p {
       padding: 0px; 
    }      

    .tarivs p {
        padding: 0px 9px;
        width: auto;
    }

    .tarivs .bord {
        border: 5px solid !important;
        border-image-source: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%) !important;
        border-image-slice: 1 !important;
    }

    .container {
        width: 800px;
    }

    .tarivs_items {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .tarivs .silver , .tarivs .gold , .tarivs .bronze {
        margin: 0px 178px;
    }

    .nav_items {
        display: none;
    }

    .rectangle {
        width: 200px;
        height: 200px;
        border: 31px solid;
        border-image-slice: 0;
        position: relative;
        border-radius: 50%;
        border-color: #0be491;
        box-sizing: border-box;
        background-color: #1d6e3c8c;
}

@media screen and (max-width: 877px) {
    .container {
        width: 750px;
    }
}

@media screen and (max-width: 840px) {
    .container {
        width: 550px;
    }

    .rectangle {
        width: 25px;
        height: 25px;
        border-image-slice: 0;
        position: relative;
        border-radius: 50%;
        border-color: #0be491;
        box-sizing: border-box;
        background-color: #0be491;
    }

    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 32px;
    }

    .video p {
        font-size: 15px;
    }

    .pupils button {
        margin-left: 0;
    }

    .pupils_content a {
        margin: 0 auto;
    }
}


@media screen and (max-width: 670px) {
    .container {
        width: 450px;
    }

    
}

@media screen and (max-width: 550px) {
    .container {
        width: 350px;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 28px;
    }

    .tarivs .bord {
        border: 13px solid;
        border-image-source: linear-gradient( 
        94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
        border-image-slice: 1;
    }
}

@media screen and (max-width: 440px) {
    
    h1 {
        font-size: 20px;
    }

    .header h1 {
        width: 250px;
    }

    h2 {
        font-size: 18px;
    } 
    p {
        font-size: 15px !important;
    }

    .rectangle {
        display: none;
    }

    .container {
        width: 300px;
    }

    .what_do_we_do {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .video {
        padding-top: 60px;
    }

    .profession_items {
        margin-top: 30px;
    }

    .additionally {
        padding-top: 120px;
    }

    .what_do_we_do___content p {
        margin: 45px 0 0 0;
    }

}


@media screen and (max-width: 400px) {
    
    .header_buttun button {
        display: none;
    }

    .container {
        width: 295px;
    }
}

@media screen and (max-width: 390px) {

    .container {
        width: 285px;
    }
}

@media screen and (max-width: 380px) {

    .container {
        width: 275px;
    }
}

@media screen and (max-width: 370px) {

    .container {
        width: 265px;
    }
}

@media screen and (max-width: 350px) {

    .container {
        width: 245px;
    }
}

@media screen and (max-width: 332px) {

    .container {
        width: 220px;
    }

    .header h1 {
        width: 239px;
    }
}
